@font-face {
  font-family: 'nyt-stymie';
  src: url('https://typeface.nytimes.com/fonts/nyt-stymie-130114-400-normal.woff') format('woff');
}
@font-face {
  font-family: 'nyt-franklin-500';
  src: url('https://typeface.nytimes.com/fonts/nyt-franklin-500-normal.woff') format('woff');
}
@font-face {
  font-family: 'nyt-franklin-300';
  src: url('https://typeface.nytimes.com/fonts/nyt-franklin-300-normal.woff') format('woff');
}
@font-face {
  font-family: 'nyt-cheltenham';
  src: url('https://typeface.nyt.com/fonts/nyt-cheltenham-200-normal.woff') format('woff');
}
nav {
  padding: 0 40px;
  background: rgba(0,0,0,.95);
  line-height: 60px;
  height: 60px;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 200;
  box-sizing: border-box;
}
nav h3 {
  float: left;
  color: #fff;
  font-family: 'nyt-stymie',Arial,sans-serif;
  font-weight: 800;
  font-size: 20px;
  margin: 0;
}
nav h3:after {
  border-right: 1px solid hsla(0,0%,100%,.5);
  content: "";
  display: inline-block;
  height: 25px;
  line-height: 60px;
  margin: 0 10px;
  vertical-align: middle;
}
nav a{
  float: left;
  color: hsla(0,0%,100%,.6);
  font-family: 'nyt-franklin-500',Arial,sans-serif;
  font-size: 14px;
  font-weight: 700;
  padding: 0 10px;
  cursor: pointer;
}
nav a:hover{
  color: #fff;
}
h1 {
  font-family: 'nyt-stymie',Arial,sans-serif;
  font-weight: 800;
  color: #282828;
  font-size: 3.88235rem;
  line-height: 1.06;
  margin-bottom: 0;

}
h4 {
  font-family: 'nyt-cheltenham',Georgia,sans-serif;
  text-align: center;
  color: #4d4d4d;
  font-weight: 300;
  margin: 0;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
	-moz-animation-timing-function: ease-in;
	-webkit-animation-timing-function: ease-in;
  animation-duration: 3s;
}
P {
  line-height: 1.28;
  font-family: 'nyt-cheltenham',Georgia,sans-serif;
  font-size: 23px;
  font-weight: 300;
  letter-spacing: .25px;
  line-height: 29px;
  color: #4d4d4d;
}
.teaser {
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
	-moz-animation-timing-function: ease-in;
	-webkit-animation-timing-function: ease-in;
  animation-duration: 2s;
  margin-top: 0;
  margin-bottom: 30px;
}
span.period-counter {
  visibility: hidden;
  animation-name: show;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
	-moz-animation-timing-function: ease-in;
	-webkit-animation-timing-function: ease-in;
}
 
span.period-counter.first {
  animation-duration: 4s;
}

span.period-counter.second{
  animation-duration: 6s;
}
span.period-counter.third{
  animation-duration: 8s;
}
span.period-counter.forth{
  animation-duration: 10s;
}
.timer {
  float: right;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
	-moz-animation-timing-function: ease-in;
	-webkit-animation-timing-function: ease-in;
  animation-duration: 10s;
}
.cards-wrapper {
  margin: 2em 2em 0 2em;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
	-moz-animation-timing-function: ease-in;
	-webkit-animation-timing-function: ease-in;
  animation-duration: 3s;
}
.card p {
  margin: 0 auto;
  font-size: 30px;
  text-align: center;
  position: absolute;
  left: 38%;
  top: 38%;
}
.card p.hidden {
  -webkit-animation: 10s ease 0s normal forwards 1 fadeOut;
  animation: 10s ease 0s normal forwards 1 fadeOut;
}
.card p.hide {
  visibility: hidden;
}
.card {
  float: left;
  width: 11.5%;
  height: 80px;
  margin-right: 1%;
  margin-bottom: 1%;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  cursor: pointer;
  position: relative;
  z-index: 2;
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,.1);
  box-shadow: 0 0 15px rgba(0,0,0,.1);
  -webkit-transition: -webkit-box-shadow .2s;
  transition: -webkit-box-shadow .2s;
  transition: box-shadow .2s;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  animation: holdPointer 10s;
}
.card:hover {
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,.3);
  box-shadow: 0 0 15px rgba(0,0,0,.3);
}
.playAgainButton {
  display: inline;
  padding: 10px;
  background-color: #4d4d4d;
  color: #fff;
  position: absolute;
  top: 50%;
  right: 50%;
  cursor: pointer;
}

@keyframes show {
  0% { opacity:0; }
  66% {visibility: hidden;}
	99% {visibility: visible; }
	100% {opacity:1; visibility: visible;  }
}
@keyframes hide {
  0% { opacity:1; }
  66% {visibility: visible;}
	99% {visibility: visible; }
	100% {opacity:0; visibility: hidden;  }
}
@keyframes holdPointer{
  0% { pointer-events: none;}
  99% { pointer-events: none;}
  100% {pointer-events: auto;}
}
@keyframes fadeIn{
  0% { opacity:0; pointer-events: none;}
  66% { opacity:0; pointer-events: none;}
  100% { opacity:1; pointer-events: auto;}
}
@keyframes fadeOut{
  0% { opacity:1; }
  66% { opacity:1; }
  100% { opacity:0; }
}
main {
  width: 70%;
  margin: 0 auto;
}
body {
  margin:0;
  -webkit-font-smoothing: antialiased;
}
footer {
  background-color: #000;
  clear: both;
  color: #c7c7c7;
  font-size: 14px;
  font-weight: 400;
  height: 100px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer .logo {
  fill: #c7c7c7;
  padding: 30px;
  float: left;
}
.footer-terms {
  float: right;
  display: inline;
  list-style: none;
  width: 40%;
  padding: 30px 0;
}
.footer-terms li {
  display: inline;
  float: left;
  padding: 0 20px;
  border-right: solid 1px;
  text-align: right;
}
.footer-terms li.last {
  border-right: none;
}
.footer-terms a {
  color: #c7c7c7;
  text-decoration: none;
  font-family: 'nyt-franklin-500',Arial,sans-serif;
}
.hide {
  visibility: hidden;
}
.show {
  visibility: visible;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (max-width: 600px) {
  .card {
    width: 100%;
  }
}